In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [17]:
df = pd.read_csv('movie_metadata.csv')
print(len(df))
print(list(df))
df.head()

5037
['Unnamed: 0', 'color', 'director_name', 'num_critic_for_reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name', 'movie_title', 'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews', 'language', 'country', 'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio', 'movie_facebook_likes']

,Unnamed: 0,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
dicc_directores = dict()
count = 0
array = []
for i in df['director_name']:
    if i not in dicc_directores.keys():
        count = count + 1
        dicc_directores.update({i:count})
    array.append(dicc_directores[i])
#print(array)
#print(dicc_directores)
df['director_name'] = array

In [32]:
array = []
a = df['num_critic_for_reviews'][4]
for i in df['num_critic_for_reviews']:
    if np.isnan(i):
        i = 0
    array.append(i)
df['num_critic_for_reviews'] = array

In [33]:
array = []
a = df['duration'][4]
for i in df['duration']:
    if np.isnan(i):
        i = 0
    array.append(i)
df['duration'] = array

In [41]:
array = []
a = df['gross'][4]
for i in df['gross']:
    if np.isnan(i):
        i = 0
    array.append(i)
df['gross'] = array

In [35]:
dicc_genres = dict()
count = 0
array = []
print(df['genres'][0].split('|'))
for values in df['genres']:
    a = []
    for i in values.split('|'):
        if i not in dicc_genres.keys():
            count = count + 1
            dicc_genres.update({i:count})
        a.append(dicc_genres[i])
    array.append(a)
df['genres'] = array

['Action', 'Adventure', 'Fantasy', 'Sci-Fi']

In [36]:
dicc_actores = dict()
count = 0
array = []
for i in df['actor_1_name']:
    if i not in dicc_actores.keys():
        count = count + 1
        dicc_actores.update({i:count})
    array.append(dicc_actores[i])
#print(array)
#print(dicc_actores)
df['actor_1_name'] = array

In [37]:
#movie_title
dicc_titulos = dict()
count = 0
array = []
for i in df['movie_title']:
    while(i in dicc_titulos):
        i = i + 'a'
    count = count + 1
    dicc_titulos.update({i:count})
    array.append(dicc_titulos[i])

#print(array)
#print(len(df))
#print(len(dicc_titulos))
#print(len(array))
df['movie_title'] = array

5036
5036
5036
[]

In [38]:
dicc_actores = dict()
count = 0
array = []
for i in df['actor_2_name']:
    if i not in dicc_actores.keys():
        count = count + 1
        dicc_actores.update({i:count})
    array.append(dicc_actores[i])
#print(array)
#print(dicc_actores)
df['actor_2_name'] = array

In [39]:
dicc_actores = dict()
count = 0
array = []
for i in df['actor_3_name']:
    if i not in dicc_actores.keys():
        count = count + 1
        dicc_actores.update({i:count})
    array.append(dicc_actores[i])
#print(array)
#print(dicc_actores)
df['actor_3_name'] = array

In [42]:
array = []
a = df['facenumber_in_poster'][4]
for i in df['facenumber_in_poster']:
    if np.isnan(i):
        i = 0
    array.append(i)
df['facenumber_in_poster'] = array

In [46]:
array = []
a = df['budget'][3]
for i in df['budget']:
    if np.isnan(i):
        i = 0
    array.append(i)
df['budget'] = array

250000000.0

In [47]:
array = []
a = df['imdb_score'][3]
for i in df['imdb_score']:
    if np.isnan(i):
        i = 0
    array.append(i)
df['imdb_score'] = array